.container .table {
    background-color:  white;
 }
 .table td, .table th{
     padding: 0;
     text-align:  center;

 }
 .elisnegative{
     background-color: rgb(119, 110, 110);
 }
 .elispositive{
     background-color: rgb(119, 110, 110);
 }
 .activepossition{
     background-color: rgba(57, 223, 71, 0.4);
 }