.container-fluid form .col-owner{
text-align: start;
text-transform: uppercase;
font-size: 1.5rem;
font-weight: 400;
}
.container-fluid .owver-conteiner{
    margin-bottom: 5px;
}
.container-fluid .title{
    text-transform: uppercase;
}
.container-fluid form .car-title{
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    font-weight: 600;
}