<div class="container-fluid">
    <div class="row">
        <div class="col owver-conteiner">
            <form [formGroup]="ownerForm">
                <div class="row justify-content-center mb-1 mt-2">
                    <div class="col" style="text-align: center;">
                        <h4 class="title">{{Info}}</h4>
                    </div>
                </div>
                <div class="row justify-content-center mb-1 mt-2">
                    <div class="col col-owner">
                        Собственник
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col">
                        <input
                        type="text"
                        formControlName="firsname"
                        class="form-control"
                        id="ownerfirsname"
                        placeholder="Фамилия"
                        [ngClass]="{'is-invalid': submitted && form.firsname.errors || form.firsname.touched && form.firsname.errors}"
                        />
                        <div *ngIf="submitted && form.firsname.errors" class="text-danger">
                            <div *ngIf="form.firsname.errors.required">Укажите фамилию</div>
                            <div *ngIf="form.firsname.errors.pattern">Только буквы</div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col">
                        <input
                        type="text"
                        formControlName="middlename"
                        class="form-control"
                        id="ownermiddlename"
                        placeholder="Имя"
                        [ngClass]="{'is-invalid': submitted && form.middlename.errors || form.middlename.touched && form.middlename.errors}"
                        />
                        <div *ngIf="submitted && form.middlename.errors" class="text-danger">
                            <div *ngIf="form.middlename.errors.required">Укажите имя</div>
                            <div *ngIf="form.middlename.errors.pattern">Только буквы</div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col">
                        <input
                        type="text"
                        formControlName="lastName"
                        class="form-control"
                        id="ownerlastName"
                        placeholder="Отчество"
                        [ngClass]="{'is-invalid': submitted && form.lastName.errors || form.lastName.touched && form.lastName.errors }"
                        [disabled] = "disableEditing"
                        />
                        <div *ngIf="submitted && form.lastName.errors" class="text-danger">
                            <div *ngIf="form.lastName.errors.required">Укажите отчество</div>
                            <div *ngIf="form.lastName.errors.pattern">Только буквы</div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col col-owner">
                        Автомобили
                    </div>
                </div>
                <div class="form-row d-flex car-title">
                    <div class="col">Номер</div>
                    <div class="col">Марка</div>
                    <div class="col">Модель</div>
                    <div class="col">Год</div>
                    <div class="col" *ngIf="!disableEditing"></div>
                </div>
                <div class="form-row"
                formArrayName="cars"
                    *ngFor="
                    let parameter of form.cars.value.controls;
                    let paramIndex = index
                    ">
                    <div class="col justify-content-center align-items-center">
                        <div [formGroup]="parameter">
                          <input
                            class="form-control"
                            type="text"
                            formControlName="carnumber"
                            placeholder="Номер авто"
                            [ngClass]="{'is-invalid': parameter.controls.carnumber.touched&&parameter.controls.carnumber.invalid}"
                            style="text-transform: uppercase;"
                          />
                        </div>
                        <div class="row justify-content-center mb-1">
                          <div class="col">
                            <div *ngIf="submitted && parameter.controls.carnumber.touched&&parameter.controls.carnumber.errors ||
                                        submitted &&parameter.controls.carnumber.errors" class="text-danger">
                              <div *ngIf="parameter.controls.carnumber.errors.required">
                                Поле не должно быть пустым
                              </div>
                              <div *ngIf="parameter.controls.carnumber.errors.pattern">
                                Поле не отвечает шаблону АА7777ВВ
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col justify-content-center align-items-center">
                        <div [formGroup]="parameter">
                          <input
                            class="form-control"
                            type="text"
                            formControlName="carbrand"
                            placeholder="Модель"
                            [ngClass]="{'is-invalid': parameter.controls.carbrand.touched&&parameter.controls.carbrand.errors}"
                          />
                        </div>
                        <div class="row justify-content-center mb-1">
                          <div class="col">
                            <div *ngIf="submitted && parameter.controls.carbrand.errors" class="text-danger">
                              <div *ngIf="parameter.controls.carbrand.errors.required">
                                Поле не должно быть пустым
                              </div>
                              <div *ngIf="parameter.controls.carbrand.errors.pattern">
                                Только буквы
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col justify-content-center align-items-center">
                        <div [formGroup]="parameter">
                          <input
                            class="form-control"
                            type="text"
                            formControlName="carmodelname"
                            placeholder="Марка"
                            [ngClass]="{'is-invalid': parameter.controls.carmodelname.touched&&parameter.controls.carmodelname.errors}"
                          />
                        </div>
                        <div class="row justify-content-center mb-1">
                          <div class="col">
                            <div *ngIf="submitted && parameter.controls.carmodelname.errors" class="text-danger">
                              <div *ngIf="parameter.controls.carmodelname.errors.required">
                                Поле не должно быть пустым
                              </div>
                              <div *ngIf="parameter.controls.carmodelname.errors.pattern">
                                Только буквы
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col justify-content-center align-items-center">
                        <div [formGroup]="parameter">
                          <input
                            class="form-control"
                            type="number"
                            min="1990"
                            [max]="this.getCarrentYear()"
                            formControlName="yearproduction"
                            placeholder="Год"
                            [ngClass]="{'is-invalid': parameter.controls.yearproduction.touched&&parameter.controls.yearproduction.errors}"
                          />
                        </div>
                        <div class="row justify-content-center mb-1">
                          <div class="col">
                            <div *ngIf="submitted && parameter.controls.yearproduction.errors" class="text-danger">
                              <div *ngIf="parameter.controls.yearproduction.errors.required">
                                Поле не должно быть пустым
                              </div>
                              <div *ngIf="parameter.controls.yearproduction.errors.pattern">
                                Год производства не отвечает требованиям: 1990 - н.в
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col justify-content-start align-items-center d-flex" *ngIf="!disableEditing" >
                          <button class="btn btn-danger" 
                                  (click)="delleteCar(paramIndex)"          
                          >
                              <span>
                                <i class="fa fa-trash"></i>
                              </span>
                          </button>
                      </div>
                </div>
                <div class="row" *ngIf="existingcarflag">
                  <div class="col" class="text-danger" style="display: contents;
                  text-transform: uppercase;">
                        Один из указаных автомобилей уже пренадлежит другому собственнику!
                  </div>
                </div>
                <div class="row" *ngIf="!disableEditing">
                  <div class="col">
                    <div class="form-row mt-2">
                      <div class="col">
                          <button class="btn btn-primary btn-sm" 
                                  (click) = "addNewCar()"                
                          > Добавить автомобиль </button>
                      </div>
                  </div>
                  <div class="form-row mt-2">
                      <div class="col" style="text-align: center;">
                          <button class="btn btn-success" 
                          [disabled] = "this.ownerForm.invalid || this.form.cars.value.invalid"
                          (click)="submit()"
                          > Сохранить </button>
                      </div>
                  </div>
                  </div>
                </div>
            </form>
        </div>
    </div>
</div>
