.optionalButtons {
    text-align:center;
    padding: 30px 10px 10px 10px;
    
}
.myTitle {
    color:rgb(0, 0, 0);
    text-align: center;
    margin-top: 0.5em;
    font-size: 1.2em;
    text-transform: uppercase;
}